.mySlides {
    display: none
}


/* Slideshow container */
.slideshow-container {
    display: none;



}

.purple {

    position: fixed;
    top: 10%;
    left: 20%;
    margin: auto;
    padding: 1rem 2.5rem;
    padding-top: 3.25rem;
    width: 60%;
    border-radius: 1rem;
    background-color: #61667C;
    box-shadow: -5px 5px 20px 5px rgba(0, 0, 0, 0.25);
    animation: flyin 0.75s;

    z-index: 10;
}


/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 1rem;
    color: #A6AED1;
    font-weight: bold;
    font-size: 4rem;
}

/* Position the "next button" to the right */
.next {
    right: .25rem;
}

.prev {
    left: .25rem;
}


/* The Close Button */
.close {
    color: #A6AED1;
    position: absolute;
    top: 0.3rem;
    right: 1.25rem;
    font-size: 4.5rem;
    font-weight: bold;
}

.close:hover,
.close:focus,
.next:hover,
.next:focus,
.prev:hover,
.prev:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin: 0 5px;
    background-color: #A6AED1;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #252830;
}


@keyframes flyin {
    from {
        transform: translateY(400px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}
