/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    top: 25%;
    left: 30%;
    z-index: 1;
    width: 60%;
    height: auto;
    overflow: auto;
    background-color: #61667C;
    border-radius: 10px;
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 1rem;
    max-width: 100%;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 5px;
    left: 30px;
    font-size: 5rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    position: fixed;
    top: 48%;
    height: 8rem;
    width: 8rem;
    cursor: pointer;
    padding-top: 1.25rem;
    color: white;
    text-align: center;
    font-size: 5rem;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    border-radius: 50%;
    right: 36%;
    padding-left: .5rem;
}

.prev {
    border-radius: 50%;
    left: 36%;
    padding-right: .5rem;

}

/* On hover, add a black background color with a little bit see-through 
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}*/

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}
