@font-face {
    font-family: Moranga-Medium;
    src: url(../Moranga/Moranga-Medium.otf) format("opentype");
}

@font-face {
    font-family: Moranga-Regular;
    src: url(../Moranga/Moranga-Regular.otf) format("opentype");
}

@font-face {
    font-family: Moranga-LightIt;
    src: url(../Moranga/Moranga-LightIt.otf) format("opentype");
}


@font-face {
    font-family: Moranga-Light;
    src: url(../Moranga/Moranga-Light.otf) format("opentype");
}

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FEF0DC;
}

/* MENU -- START */

.vertical-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 5rem;
    height: 100vh;
    background-color: #61667C;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

}

.chapter-cell {
    padding-top: 0vh;
    
}

.hide h4 {
    background-color: inherit;
    color: white;
    font-family: Moranga-Regular;
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 0;
    opacity: 0%;
    cursor: default;
}


.vertical-menu a {
    font-family: Moranga-Regular;
    background-color: inherit;
    color: #252830;
    display: block;
    margin: auto;
    padding: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 2.5rem;
    text-decoration: none;
    width: 5rem;
    height: 5rem;
    

}

#lockChap2 #text {
    display: block;
}

#lockChap2:hover #text, #lockChap3:hover #text  {
    display: none;
        transition: display 3s ease-in-out;

}

#lock {
    display: none;
}

#lockChap2:hover #lock, #lockChap3:hover #lock {
    display: inline-block;
    margin: 0;
    transition: display 3s ease-in-out;
}

#lockChap2, #lockChap3 {
    background-color: #60667E;
}


.vertical-menu:hover {
    width: 11rem;
}

.vertical-menu:hover .hide h4 {
    opacity: 100%;


}

.vertical-menu a.active {
    color: white;
}

.vertical-menu a:hover {
    color: white;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

.vertical-menu a.active:hover {
    color: white;
    border: none;
    width: 5rem;
    height: 5rem;
    
}


/* MENU -- END */


.main {
    width: 100vw;
    height: 100vh;
    background: #FEF0DC;
    /*display: grid;*/
    margin-bottom: 40px;
    text-align: center;
 -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */}


.chapters {
    padding-top: 12%;

}

.chapters h3 {
    font-size: 4rem;
    font-family: Moranga-Medium;

}

.chapters h1 {
    font-size: 8rem;
    line-height: 3rem;
    font-family: Moranga-LightIt;
    color: #60667E;

}

.mainText {
    width: 40%;
    padding: 20px;
    margin: 0 auto;
    font-size: 1.75rem;
    line-height: 3rem;
    text-align: center;
    font-family: Moranga-Light;

}

.gallery {
    cursor: pointer;
}

.gallery:hover {
    color: #808598;
}


.photoAlbum {
    background-image: url(../PhotoAlbum.png);
    background-position: 15rem -5rem;
    height: 68vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 55%;
    margin-left: 0;

}

.subHeader h1 {
    font-family: Moranga-LightIt;
    font-size: 6rem;
    line-height: 5.5rem;
    color: #60667E;
    width: 100%;
    text-align: left;
    margin: auto;
    margin-right: 15%;
    margin-bottom: 3rem;

}

.photoAlbumText {

    background-color: rgba(254, 240, 220, 0.5);
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    margin-right: 15%;
    font-size: 1.75rem;
    line-height: 3rem;
    font-family: Moranga-Light;
    width: 32%;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    margin-left: 15%;
    margin-right: 15%;
}



.cell {
    height: auto;

}

.col3 {
    font-size: 1.75rem;
    line-height: 3rem;
    font-family: Moranga-Light;
    padding: 10px;
    height: auto;


}

.col3 img {
    display: block;
    margin: auto;
    margin-top: 6rem;

}

.col2 img {
    display: block;
    margin: auto;
    margin-bottom: 6vh;
    max-height: 60vh;
    margin-top: 2rem;
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}




.col1 {
    width: 40%;
    margin: 5rem auto;
    font-size: 1.75rem;
    line-height: 3rem;
    font-family: Moranga-Light;
    padding: 10px;
    padding-bottom: 8rem;

}

.col1 h1 {
    text-align: center;
    font-family: Moranga-LightIt;
    font-size: 6rem;
    line-height: 5.5rem;
    color: #60667E;
}


.hidden {

    display: none;
    text-align: center;
    color: firebrick;
}

.hidden h4 {
    margin-top: 0.5rem;
}

input {
    font-family: Moranga-Light;
    text-align: center;
    display: block;
    background-color: rgb(253, 229, 195, 0.9);
    width: 50%;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.75rem;
    text-transform: capitalize;

}

input::placeholder {
    color: rgba(219, 148, 72, 0.35);
    text-transform: lowercase;
    font-size: 1.75rem;

}

input:focus {
    outline: none;
    background-image: linear-gradient(to right, rgba(219, 148, 72, 0.8) 60%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 30px 3px;
    background-repeat: repeat-x;
}

input:hover {
    outline: none;
    background-image: linear-gradient(to right, rgba(219, 148, 72, 0.8) 60%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 30px 3px;
    background-repeat: repeat-x;
}


#guess-input3 {
    text-transform: lowercase;

}

button {
    display: block;
    background-color: #60667E;
    color: white;
    margin: auto;
    margin-top: 1rem;
    padding: 0.5rem 0.7rem;
    font-family: Moranga-Light;
    font-size: 1.5rem;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:active {
    transform: translateY(3px);
    background-color: #595873;


}

a {
    text-decoration: none;
}

#searchImage {
    width: 100%;
    height: auto;
    margin: 3rem 0;
    margin-bottom: 2.5rem;

}



.hideContainer {

    position: relative;
    height: 120%;

}

.hideText,
.hideBlock {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hideBlock {
    z-index: 1;
    background-color: #FEF0DC;
    opacity: 1;
}

.guess-submit {
    text-decoration: none;
    color: white;
}

.grown img {
    width: 100%;
    margin-top: 0;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}